<div class="container pt-5 animated fadeIn">

    <h2 class="page-section-heading text-center text-uppercase mb-0">Portfolio</h2>

    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="far fa-address-card"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="container" style="height: 300px;" *ngIf="loading">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center container-card" *ngIf="!loading">
        <div class="card p-3" style="width: 18rem;" *ngFor="let project of projects | sort:'anio':'DESC'">
            <img [src]="project.imgUrl" class="card-img-top image-project" alt="project-image">
            <div class="card-body">
              <h5 class="card-title text-center"> {{ project.name }}</h5>
              <hr>
              <h6 class="card-title text-center"> {{ project.anio }}</h6>
              <hr>
              <p class="card-text text-justify font-italic"> {{ project.description }} </p>
              <a href="https://github.com/mecanizados-aac/{{project.name}}" class="btn btn-outline-dark btn-block">
                <i class="fas fa-arrow-right"></i>
                <i class="fab fa-github ml-2"></i>
                See in GitHub
              </a>
            </div>
        </div>   
    </div>
</div>
