<div class="card p-3" [style.width]="mode === 'sp' ? '18rem' : '23rem'">
    <picture>
        <img [src]="entity.imgUrl" width="100%" height="250px" class="card-img-top image-entity" alt="entity-image"
            *ngIf="mode === 'comp'">
    </picture>

    <div class="text-center subtitle-card" *ngIf="mode === 'sp'">
        {{ entity.name }}
    </div>

    <div class="card-body">
        <section *ngIf="mode === 'comp'">
            <h5 class="card-title text-center subtitle-card"> {{ entity.name }}</h5>
            <hr class="bg-light">

            <h6 class="card-title text-center"> {{ entity.year }}</h6>
            <hr class="bg-light">

            <p class="card-text text-justify font-italic"> {{ entity.description | translate }} </p>

            <a href="{{linkGB}}{{entity.name}}" class="btn btn-block btn-purple" target="_blank" *ngIf="isButtonGB">
                {{ 'PORTFOLIO.BUTTON-GITHUB' | translate }}
                <i class="fab fa-github ml-1"></i>
                <i class="fas fa-external-link-alt ml-3"></i>
            </a>
        </section>

        <ng-content *ngIf="mode === 'sp'"></ng-content>
    </div>
</div>