.img-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border: .2em solid white;
    border-radius: .7em;
    box-shadow: 7px 7px 7px #5E376D;
    transition: all .3s ease-in-out;
}

.img-profile:hover {
    transition: all .3s ease-in-out;
    animation: spin .35s linear;
    border-radius: 50% !important;
    box-shadow: 0px 0px 7px 7px #5E376D !important;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);

        transform: rotate(360deg);
    }
}

.profile {
    height: 100vh !important;
    width: 100% !important;
    padding-top: 30vh;
}

.banner {
    transition: all 300ms;
    z-index: 1 !important;
    padding-bottom: 10%;
}


@media screen and (max-width: 500px) and (min-width: 360px) {
    .profile {
        padding-top: 15vh;
    }
}

@media screen and (max-width: 783px) and (min-width: 501px) {
    .profile {
        padding-top: 10vh;
    }

    .img-profile {
        height: 300px !important;
    }
}

@media screen and (max-width: 1000px) and (min-width: 784px) {
    .profile {
        padding-top: 10vh;
    }

    .img-profile {
        height: 300px !important;
    }
}