<div class="profile" animated fadeIn>
    <div class="banner__content container d-flex align-items-center h-100 pb-5" @enterState>
        <div class="col-9 flex-wrap pl-0">
            <header>
                <p class="header-hi-initial">{{ 'HOME.GREETING' | translate }}</p>
                <h1 style="font-size: 4em;" class="mb-0">ALDO CASTILLO</h1>

                <p style="font-size: 2em;" class="font-weight-bold mb-0 pb-3">{{ 'HOME.DEGREE' | translate }}</p>

                <div class="d-flex">
                    <button type="button" class="btn btn-outline-light btn-down" (click)="getResume()">
                        <i class="fas fa-file-download fa-2x"></i>
                        <p>{{ 'HOME.BUTTON-DOWNLOAD' | translate }}</p>
                    </button>

                    <app-loading *ngIf="loading"></app-loading>

                    <app-alert *ngIf="error"></app-alert>
                </div>
            </header>
        </div>

        <div class="col-3">
            <img class="img-profile" src="assets/aac.jpg" alt="img-profile">
        </div>
    </div>
</div>