<section class="profile">
    <app-particles></app-particles>

    <div class="banner d-flex align-items-center justify-content-center justify-content-lg-between container" animated
        fadeIn>
        <div class="d-lg-flex justify-content-between h-100 align-items-end" @enterState>
            <div class="col-12 col-lg-7 p-0">
                <app-header></app-header>
            </div>

            <div class="col-12 col-lg-5 pr-0 pl-0 pt-5 pt-lg-0 w-100 h-100">
                <picture class="ml-auto mt-auto w-100 h-100">
                    <img class="img-profile" src="assets/img/aac-profile.jpeg" alt="img-profile">
                </picture>
            </div>
        </div>
    </div>
</section>