<section class="container">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            <strong>{{ 'HOME.ALERT-ERROR.TITLE' | translate }}</strong>
            {{ 'HOME.ALERT-ERROR.MESSAGE' | translate }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</section>