<div [id]="idCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li attr.data-target="#{{idCarousel}}"
            *ngFor="let entity of arrayEntity | sort:propOrderSort:'DESC'; let i = index" attr.data-slide-to="{{i}}"
            [class.active]="i===0">
        </li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item pt-3 pb-5"
            *ngFor="let entity of arrayEntity | sort:propOrderSort:'DESC'; let i = index" [class.active]="i===0">
            <section class="row d-flex justify-content-center container-card">
                <app-card [entity]="entity" [mode]="modeCard" [isButtonGB]="isButtonGB"></app-card>
            </section>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" attr.data-target="#{{idCarousel}}" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" attr.data-target="#{{idCarousel}}" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>