<nav [ngClass]="{'navbar-dark': isDark, 'navbar-light': !isDark}"
  class="navbar navbar-expand-lg bg-light-purple bg-purple fixed-top pt-1 pb-1">
  <section class="menu container">
    <a class="navbar-brand font-weight-bold font-italic" [href]="linkGB" target="_blank" data-toggle="tooltip"
      data-placement="bottom" [title]="setContentTooltip">
      <p class="mb-0 text-nav">&lt;<span>ac</span> /&gt;
      </p>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-lg-0 mb-3" (click)="scrollToId('body-aac')">
        <li class="nav-item" routerLinkActive="active" *ngFor="let link of arrayMenu">
          <a class="nav-link" [routerLink]="link.href">
            <i class="{{link.icon}}"></i>
            {{ link.title | translate }}
          </a>
        </li>
      </ul>

      <app-actions [selectedLanguage]="selectedLanguage" [classListIconButton]="classListIconButton"
        (isSendLanguage)="selectLanguage($event)" (isSendTheme)="setTheme()"></app-actions>
    </div>
  </section>
</nav>