<app-base-content [titleSection]="'MENU.ITEM-SERVICES'" [iconSection]="'fas fa-list'" [loading]="loading"
    [error]="error">
    <ng-container *ngIf="!loading && !error" body-section>
        <app-card *ngFor="let skill of skills | sort:'name':'ASC'" [entity]="skill" [mode]="'sp'">
            <div class="d-flex h-100 align-items-center">
                <progressbar max="100" [value]="skill.percentage" type="purple" [striped]="true" [animate]="true">
                </progressbar>
            </div>
        </app-card>
    </ng-container>
</app-base-content>