<div class="container pt-5 animated fadeIn">

    <h2 class="page-section-heading text-center text-uppercase mb-0">Services</h2>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-laptop-code"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="container" style="height: 300px;" *ngIf="loading">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="spinner-border text-white" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="error">
        <div class="d-flex justify-content-start align-items-center h-100">
            <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                <strong>Error!</strong> Please, try later.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center container-card" *ngIf="!loading && !error">
        <div class="card p-3" style="width: 18rem;" *ngFor="let service of services | sort:'name':'ASC'">
            <div style="font-size: 2em !important;" class="card-header text-center">
                <i [class]="service.icon"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center subtitle-card"> {{ service.name }}</h5>
                <p class="card-text text-justify font-italic"> {{ service.description }} </p>
            </div>
        </div>
    </div>
</div>