<app-base-content [titleSection]="'MENU.ITEM-SERVICES'" [iconSection]="'fas fa-laptop-code'" [loading]="loading"
    [error]="error">
    <div class="row d-flex justify-content-center container-card" *ngIf="!loading && !error" body-section>
        <div class="card p-3" style="width: 18rem;" *ngFor="let service of services | sort:'name':'ASC'">
            <div style="font-size: 2em !important;" class="card-header text-center">
                <i [class]="service.icon"></i>
            </div>

            <div class="card-body">
                <h5 class="card-title text-center subtitle-card">
                    {{ service.name | translate }}</h5>
                <p class="card-text text-justify font-italic"> {{ service.description | translate }} </p>
            </div>
        </div>
    </div>
</app-base-content>