/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.initial {
    color: white;
    background-color: #303030;
}

.bg-purple {
    background-color: #5E376D !important;
}

.page-section {
    padding: 6rem 0;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #F7E951;
    border-radius: 1rem;
    border-color: #F7E951 !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #F7E951 !important;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #F7E951;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #F7E951 !important;
}

.container-card {
    flex-wrap: wrap;
}

.card {
    height: auto;
    border-radius: 20px;
    margin: 13px;
    padding: 10px;
    background-color: #ffffff0a;
}

.subtitle-card {
    color: #D4BBDD;
    font-weight: bold;
}

.card-header {
    border-bottom-color: #f8f9fa !important;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}