<div class="pt-5">
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        Godoy Cruz, Mendoza, Argentina.
                    </p>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Contact me</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://api.whatsapp.com/send?phone=542616934658&text=Hola!%20Quiero%20contratar%20sus%20servicios!"><i class="fab fa-whatsapp"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=aldo.castillo.13@gmail.com&compose=Consulta&body=Hola!%20Quiero%20contratar%20sus%20servicios!"><i class="far fa-envelope"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://m.me/dev.aldo.adrian.castillo"><i class="fab fa-facebook-messenger"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/dev-aldo-adri%C3%A1n-castillo/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>

                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About me</h4>
                    <p class="lead mb-0">
                        I am an independent, self-taught, committed, goal-focused, creative and team worker person. I love systems, mathematics, tennis and I have the soul of a leader.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <div class="copyright py-4 text-center text-white">
        <div class="container h4 mb-0"><small>Copyright © - Aldo Adrián Castillo - mecanizados - {{ anio }}</small></div>
    </div>    
</div>
