.footer {
    display: block;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 100%;
    height: auto;
    object-fit: cover;

    border-radius: .7em;
    box-shadow: 7px 7px 7px #303030;
}