.footer {
    display: block;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #5E376D;
    color: #fff;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.copyright {
    background-color: #D4BBDD;
    color: black !important;
}