<section class="pt-5">
    <footer class="footer bg-light-purple bg-purple text-center pt-5">
        <div class="container">
            <div class="row">
                <app-base-footer class="col-lg-4" *ngFor="let section of arraySections; let i = index"
                    [title]="section.title" [content]="section.content" [ngClass]="{'mb-5 mb-lg-0': i<2}">

                    <ng-container *ngIf="section.custom && i === 1">
                        <a class="btn btn-purple btn-social mx-1" target="_blank" *ngFor="let link of arrayLinks"
                            [href]="link.href">
                            <i [class]="link.icon"></i>
                        </a>
                    </ng-container>

                    <ng-container *ngIf="section.custom && i === 2">
                        <picture class="pb-4 cont--img-logo">
                            <img [src]="urlImage" alt="ac-logo" class="img-logo">
                        </picture>
                    </ng-container>
                </app-base-footer>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center">
        <div class="container h4 mb-0">
            <small>{{ 'FOOTER.COPY-R' | translate }} © | ac | 2019 - {{ year }}</small>
        </div>
    </div>
</section>